* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  font-family: "Poppins", sans-serif;
  perspective: 1000px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 700px;
}

.container__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 700px;
  backface-visibility: hidden;
  transform: rotateY(-0deg);
  transform-style: preserve-3d;
  max-height: 700px;
  
}

.container__playlistEntryCard,
.container__lastCard {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 700px;
  backface-visibility: hidden;
  transform: rotateY(-0deg);
  transform-style: preserve-3d;
  position: absolute;
}

.container__playlistEntryCard__heading {
  text-align: center;
}

.container__playlistEntryCard__subHeading {
  text-align: center;
  margin-bottom: 10px;
}

.container__playlistEntryCard__message {
  margin-bottom: 10px;
}

.container__playlistEntryCard__playlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container__playlistEntryCard__playlist__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container__playlistEntryCard__playlist__titles > h4 {
  width: 50%;
}

.container__playlistEntryCard__playlist__titles__artist {
  padding-left: 15px;
}

.container__playlistEntryCard__playlist__songInput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__playlistEntryCard__playlist__songInput > input {
  margin: 5px;
  height: 25px;
  border-radius: 4px;
  padding-left: 4px;
}

.container__playlistEntryCard__addRow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container__card__addToCalendar {
  height: 40px;
  animation: pulse 1.5s infinite;
}

.container__card__addToCalendar__link {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(4.5px);
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}

.container__card__back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 30px;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  background-color: white;
  background: linear-gradient(to bottom left, #c58886, #7796bb);
  border-radius: 20px;
  width: 400px;
  height: 700px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: "background" 1s;
}

.container__card__back > h3 {
  text-decoration: underline;
  margin-bottom: 10px;
  text-decoration-color: white;
}

.container__card__back > h1 {
  text-decoration: underline;
  margin-bottom: 10px;
  text-decoration-color: white;
}

.container__card__back__return {
  color: white;
  bottom: 20px;
  position: absolute;
  z-index: 1;
}

.container__card > h2 {
  font-weight: 300;
}

.container__card__graphics {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__card__graphics__sky,
.container__card__graphics__skyLast {
  opacity: 70%;
  width: 300px;
  background: linear-gradient(to bottom, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  border-radius: 200px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.container__card__graphics__graphic,
.container__card__graphics__graphicLast {
  position: absolute;
  width: 350px;
  object-fit: contain;
  z-index: 2;
}

.container__card__nameInput {
  height: 30px;
  border: 1px solid lightgray;
  padding-left: 5px;
  border-radius: 5px;
  margin-top: 20px;
  width: 70%;
}

.container__card__button {
  height: 50px;
  width: 200px;
  border-radius: 100px;
  box-shadow: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #e1908c;
  cursor: pointer;
}

.container__card__button__skip {
  height: 50px;
  width: 200px;
  border-radius: 100px;
  box-shadow: none;
  border: none;
  margin-top: 4px;
  border: 1px solid #e1908c;
  cursor: pointer;
}

.container__card__loading {
  height: 50px;
  width: 50px;
  animation: loading_rotation 1s infinite linear;
  margin-bottom: 10px;
}

@keyframes loading_rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.container__card__help {
  color: #fb564c;
  text-decoration: underline;
  cursor: pointer;
}

.container__lastCard__fullPlaylist {
  color: #fb564c;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 15px;
}

.container__playlistCard {
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  width: 400px;
  height: 700px;
  transform-style: preserve-3d;
}

.container__card__error {
  color: red;
  text-align: center;
}

@media screen and (max-width: 430px) {
  .container,
  .container__card,
  .container__playlistEntryCard,
  .container__card__back {
    width: 95vw;
  }
}

@media screen and (max-height: 660px) {
  .container,
  .container__card,
  .container__playlistEntryCard,
  .container__card__back {
    height: 95vh;
  }
}

@media screen and (max-width: 370px) {
  .container__card__graphics__sky,
  .container__card__graphics__graphic {
    width: 90vw;
  }
}
